[tool.poetry]
name = "koda-validate"
version = "1.0-dev4"
description = ""
authors = ["Keith Philpott"]

[tool.poetry.dependencies]
python = "^3.8"
koda = "1.1.0"

[tool.poetry.dev-dependencies]
pytest = "7.1.3"
pyright = "1.1.276"
pytest-cov = "4.0.0"
isort = "5.10.1"
black = "22.10.0"
flake8 = "5.0.4"
pre-commit = "2.20.0"
mypy = "0.982"


[tool.mypy]
allow_redefinition = false
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
enable_recursive_aliases = true
ignore_errors = false
ignore_missing_imports = false
local_partial_types = true
no_implicit_optional = true
no_implicit_reexport = true
strict_optional = true
strict_equality = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true


[tool.pytest.ini_options]
addopts ="""
  --cov=koda_validate
  --cov-report=term:skip-covered
  --cov-report=html
  --cov-branch
  --cov-fail-under=88
"""

[tool.coverage.run]
omit = [
    "koda_validate/dict.py",
    "koda_validate/validate_and_map.py"
]

[tool.isort]
line_length = 90
profile = "black"

[tool.black]
line_length = 90
target_version = ['py310']

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
