[tool.poetry]
name = "koda-validate"
version = "3.1.1"
readme = "README.md"
description = "Typesafe, composable validation"
documentation = "https://koda-validate.readthedocs.io/en/stable/"
authors = ["Keith Philpott"]
license = "MIT"
homepage = "https://github.com/keithasaurus/koda-validate"
keywords = ["validation", "type hints", "asyncio", "serialization", "typesafe", "validate", "validators", "predicate", "processor"]
classifiers = [
    'Development Status :: 5 - Production/Stable',
    'Environment :: Console',
    'Environment :: MacOS X',
    'Environment :: Web Environment',
    'Framework :: Hypothesis',
    'Intended Audience :: Developers',
    'Operating System :: MacOS',
    'Operating System :: Microsoft :: Windows',
    'Operating System :: POSIX :: Linux',
    'Operating System :: Unix',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Topic :: Utilities',
    'Typing :: Typed'
]

[tool.poetry.dependencies]
python = "^3.8"
koda = "1.4.0"

[tool.poetry.group.dev.dependencies]
pytest = "7.2.0"
pyright = "1.1.285"
pytest-cov = "4.0.0"
isort = "5.10.1"
flake8 = "5.0.4"
pre-commit = "2.20.0"
mypy = "0.991"
pydantic = "1.10.2"
pytest-asyncio = "0.20.2"
voluptuous = "0.13.1"
ssort = "0.11.6"
jsonschema = "4.17.3"
types-jsonschema = "4.17.0.2"
sphinx = "5.3.0"
furo = "2022.12.7"
flask = {version = "2.2.2", extras = ["async"]}
django = "4.1.4"
django-stubs = "1.13.1"
pytest-django = "4.5.2"
sphinx-autodoc-typehints = "1.19.5"
darglint = "1.8.1"
black = "22.12.0"

[tool.mypy]
exclude = ["build", "bench"]
allow_redefinition = false
check_untyped_defs = true
disallow_any_generics = true
disallow_incomplete_defs = true
disallow_subclassing_any = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true
# we need to wait for this to be up-to-date
#enable_recursive_aliases = true
ignore_errors = false
ignore_missing_imports = false
local_partial_types = true
no_implicit_optional = true
no_implicit_reexport = true
strict_optional = true
strict_equality = true
warn_no_return = true
warn_redundant_casts = true
warn_return_any = true
warn_unused_configs = true
warn_unused_ignores = true
warn_unreachable = true


[tool.pytest.ini_options]
addopts ="""
  --cov=koda_validate
  --cov-report=term:skip-covered
  --cov-report=html
  --cov-branch
  --cov-fail-under=94
  --ds=examples.django_example.django_example.settings
"""
# ^^  --ds = "django settings module"


[tool.coverage.run]
omit = [
    "koda_validate/validate_and_map.py",
    "tests/*"
]

[tool.isort]
line_length = 90
profile = "black"

[tool.black]
line_length = 90
target_version = ['py310']

[tool.pyright]
include = ["koda_validate", "tests", "examples"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
